body
{
    color: #f1f1f1;
    font-family: tahoma;
    padding: 50px 0 0;
    background-color: #0f0f0f;
    margin: 0;
}
.menu-body
{
    position: fixed;
    top: 0;
    inset-inline: 0;
    z-index: 99;
    display: flex;
    padding: 7px 20px;
    justify-content: space-between;
    background-color: #0f0f0f;
}
.menu-section
{
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}
.menu-icon
{
    cursor: pointer;
    width: 40px;
    text-align: center;
    font: 20px/40px awesome;
    border-radius: 50%;
}
.menu-icon:hover
{
    background-color: rgba(255,255,255,.2);
}
.menu-logo
{
    height: 25px;
}
.menu-link
{
    display: flex;
    gap: 5px;
    color: inherit;
    font: 20px impact;
    align-items: center;
    text-decoration: none;
}
.menu-form
{
    display: flex;
    width: 50vw;
    max-width: 700px;
    overflow: hidden;
    padding: 0;
    border-radius: 20px;
    border: solid 1px rgba(255,255,255,.1);
    box-sizing: border-box;
    margin: 0;
}
.menu-input
{
    width: calc(100% - 60px);
    color: inherit;
    padding: 8px 20px;
    font-size: inherit;
    background-color: transparent;
    border: 0;
    outline: none;
}
.menu-button
{
    cursor: pointer;
    width: 60px;
    border: 0;
    color: inherit;
    font: 20px awesome;
    background-color: rgba(255,255,255,.1);
}
.menu-user
{
    display: block;
    width: 40px;
    height: 40px;
    overflow: hidden;
    text-decoration: none;
    border-radius: 50%;
    background: url(../img/avatar.jpg) transparent no-repeat center/cover;
}
.page-body
{
    display: flex;
    gap: 20px;
    max-width: 1700px;
    padding: 5px 10px;
    margin: auto;
}
.page-video
{
    width: calc(80% - 20px);
}
.page-video-player
{
    position: relative;
    padding-top: 50%;
}
.page-video-frame
{
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.page-previews
{
    width: calc(20% - 20px);
}