body
{
    color: #f1f1f1;
    font: 14px tahoma;
    padding: 50px 0 0;
    background-color: #0f0f0f;
    margin: 0;
}
.menu-body
{
    position: fixed;
    top: 0;
    inset-inline: 0;
    z-index: 99;
    display: flex;
    padding: 7px 20px;
    background-color: #0f0f0f;
    justify-content: space-between;
}
.menu-body-section
{
    display: flex;
    gap: 15px;
    align-items: center;
}
.menu-body-section-icon , .page-comments-list-item-buttons-icon
{
    cursor: pointer;
    width: 40px;
    text-align: center;
    font: 20px/40px awesome;
    border-radius: 50%;
}
.menu-body-section-icon:hover , .page-comments-button:hover , .page-comments-list-item-buttons-icon:hover , .page-comments-list-item-buttons-text:hover
{
    background-color: rgba(255,255,255,.2);
}
.menu-body-section-logo
{
    height: 25px;
}
.menu-body-section-link
{
    display: flex;
    gap: 5px;
    color: inherit;
    font: 20px impact;
    align-items: center;
    text-decoration: none;
}
.menu-body-section-form
{
    display: flex;
    width: 50vw;
    max-width: 700px;
    overflow: hidden;
    padding: 0;
    border-radius: 20px;
    border: solid 1px rgba(255,255,255,.1);
    box-sizing: border-box;
    margin: 0;
}
.menu-body-section-form-input
{
    width: calc(100% - 60px);
    color: inherit;
    padding: 8px 20px;
    font-size: inherit;
    background-color: transparent;
    border: 0;
    outline: none;
}
.menu-body-section-form-button
{
    cursor: pointer;
    width: 60px;
    border: 0;
    color: inherit;
    font: 20px awesome;
    background-color: rgba(255,255,255,.1);
}
.menu-body-section-user , .page-video-controls-channel-image , .page-comments-list-item-image
{
    display: block;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    text-decoration: none;
    border-radius: 50%;
    background: url(../img/avatar.jpg) transparent no-repeat center/cover;
}
.page-body
{
    display: grid;
    gap: 20px;
    max-width: 1700px;
    padding: 5px 10px 20px;
    grid-template-rows: repeat(2,auto);
    grid-template-columns: calc(100% - 320px) 300px;
    margin: auto;
}
.page-video
{
    grid-row: 1;
}
.page-video-player
{
    position: relative;
    overflow: hidden;
    padding-top: 50%;
    border-radius: 10px;
}
.page-video-frame
{
    position: absolute;
    top: 0;
    inset-inline: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.page-video-title
{
    font: bold 18px tahoma;
    margin: 15px 0 10px;
}
.page-video-controls
{
    display: flex;
    justify-content: space-between;
}
.page-video-controls-channel
{
    display: flex;
    gap: 20px;
}
.page-video-controls-channel-name , .page-previews-item-title , .page-comments-list-item-name
{
    font: bold 16px tahoma;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 5px;
}
.page-video-controls-channel-subscribers , .page-previews-item-text , .page-comments-list-item-time
{
    color: rgba(255,255,255,.5);
    font-size: 12px;
}
.page-video-controls-channel-button
{
    cursor: pointer;
    color: #0f0f0f;
    padding: 5px 15px;
    font: bolder 14px tahoma;
    background-color: #f1f1f1;
    border-radius: 20px;
    border: 0;
}
.page-video-controls-buttons
{
    display: flex;
    gap: 10px;
}
.page-video-controls-buttons-item
{
    display: flex;
    gap: 1px;
    overflow: hidden;
    border-radius: 20px;
}
.page-video-controls-buttons-item-button
{
    cursor: pointer;
    display: flex;
    gap: 10px;
    color: #f1f1f1;
    padding: 0 20px;
    background-color: rgba(255,255,255,.1);
    border: 0;
}
.page-video-controls-buttons-item-button:hover
{
    background-color: rgba(255,255,255,.2);
}
.page-video-controls-buttons-item-button-text
{
    font: bolder 12px/40px tahoma;
}
.page-video-controls-buttons-item-button-icon
{
    font: 20px/40px awesome;
}
.page-video-description
{
    padding: 15px;
    background-color: rgba(255,255,255,.1);
    border-radius: 5px;
    margin-top: 15px;
}
.page-previews
{
    display: flex;
    gap: 10px;
    width: 300px;
    grid-row: 1 / span 3;
    flex-direction: column;
}
.page-previews-buttons , .page-previews-item , .page-comments-list-item-buttons , .page-comments-list-item
{
    display: flex;
    gap: 10px;
}
.page-previews-item
{
    color: inherit;
    text-decoration: none;
}
.page-previews-buttons-item
{
    cursor: pointer;
    color: #f1f1f1;
    padding: 0 15px;
    font: 14px/30px tahoma;
    background-color: rgba(255,255,255,.1);
    border-radius: 8px;
    border: 0;
}
.page-previews-buttons-item:hover
{
    color: #0f0f0f;
    background-color: #f1f1f1;
}
.page-previews-item-image
{
    width: 40%;
    overflow: hidden;
    padding-top: 25%;
    background: url(../img/blank.jpg) transparent no-repeat center/cover;
    border-radius: 8px;
}
.page-comments
{
    grid-row: 2;
}
.page-comments-title
{
    font-weight: bolder;
    margin-inline-end: 20px;
}
.page-comments-button , .page-comments-list-item-buttons-icon , .page-comments-list-item-form-button , .page-comments-list-item-buttons-text
{
    cursor: pointer;
    color: inherit;
    background-color: transparent;
    border: 0;
}
.page-comments-button-icon
{
    font: 18px awesome;
}
.page-comments-button-text
{
    font-size: 14px;
}
.page-comments-list
{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-top: 20px;
}
.page-comments-list-item-form
{
    width: 100%;
    padding: 0;
    margin: 0;
}
.page-comments-list-item-form-input
{
    width: 100%;
    font-size: 14px;
    padding: 5px;
    border: 0;
    color: inherit;
    background-color: transparent;
    border-bottom: solid 1px rgba(255,255,255,.5);
    box-sizing: border-box;
    margin-bottom: 10px;
    outline: 0;
}
.page-comments-list-item-form-button
{
    padding: 0 20px;
    font: 14px/40px tahoma;
    border-radius: 20px;
}
.page-comments-list-item-form-button:disabled
{
    float: inline-end;
    color: #0f0f0f;
    background-color: rgba(255,255,255,.1);
    margin-bottom: -10px;
}
.page-comments-list-item-text
{
    color: rgba(255,255,255,.75);
    margin: 5px 0;
}
.page-comments-list-item-buttons-icon
{
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.page-comments-list-item-buttons-text
{
    padding: 0 10px;
    font: 14px/30px tahoma;
    border-radius: 10px;
}
@media(max-width:1320px)
{
    .page-video-controls-buttons-item-button-text { display: none; }
}
@media(max-width:1200px)
{
    .page-video-controls-buttons-item-button { width: 50px; padding: 0 10px; }
    .page-video-controls-buttons-item-button-icon { margin: auto; }
}
@media(max-width:992px)
{
    .menu-body { justify-content: flex-end; }
    .menu-body-section:nth-child(1) { position: absolute; top: 7px; inset-inline-start: 20px; }
    .menu-body-section:nth-child(2) { margin-inline-end: 10px; }
    .menu-body-section-form { width: 40px; border-color: transparent; }
    .menu-body-section-form-input { display: none; }
    .menu-body-section-form-button { width: 40px; line-height: 35px; background-color: transparent; }
    .menu-body-section-form-button:hover { background-color: rgba(255,255,255,.2); }
    .page-body { grid-template-rows: repeat(3,auto); grid-template-columns: 100%; }
    .page-previews { grid-row: 2; width: 100%; }
    .page-comments { grid-row: 3; }
}
@media(max-width:768px)
{
    .menu-body { padding: 10px; }
    .menu-body-section , .page-video-controls-channel { gap: 5px; }
    .menu-body-section-title { display: none; }
    .menu-body-section:nth-child(1) { position: absolute; top: 10px; inset-inline-start: 10px; }
    .menu-body-section:nth-child(2) { margin-inline-end: 5px; }
    .page-video-title { margin: 20px 0; }
    .page-video-controls { flex-direction: column; gap: 20px; }
    .page-video-controls-channel { position: relative }
    .page-video-controls-channel-button { position: absolute; top: 0; inset-inline-end: 0; height: 100%; }
}